* {
  font-family: "Hack Nerd Font";
  font-size: 13px;
}
window#waybar {
  background: #222436;
  /* background: #1f2335; */
  color: #c0caf5;
}

/* Workspaces block */
#workspaces button {
  padding: 0 4px;
  /* margin: 0 1px; */
  color: #c0caf5;
  border-radius: 2px;
  background: transparent;
}

/* Focused (current) workspace */
#workspaces button.focused {
  background: #c0caf5;
  color: #24283b;
}

/* Visible but not focused */
#workspaces button.visible {
  background: #bb9af7;
  color: #24283b;
  font-weight: bold;
}

/* Urgent workspace (window demands attention) */
#workspaces button.urgent {
  background: #fca7ea;
  color: #24283b;
}

#mpd,
#idle_inhibitor,
#keyboard-state,
#battery,
#bat2,
#power,
#custom,
#network,
#bluetooth,
#pulseaudio,
#tray,
#clock {
  padding: 0 10px;
}
